@import "../fonts/fonts.css";
@import "essentials";

body {
    font-family: "Aktiv Grotesk", sans-serif!important;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.cs-head {
    width: 100%;
    text-align: center;
}

.type-page {
    .content {
        min-height: auto;
    }
}